<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LandBankManagement.ReportTemplates.Properties.Settings.LandBankConnectionString"
            connectionString="Data Source=SQL5097.site4now.net;Initial Catalog=DB_A637E6_LandBank;Persist Security Info=True;User ID=DB_A637E6_LandBank_admin;Password=Matrix@291"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>